		@font-face {
    font-family: Trebuc;
    src: url('./fonts/trebuc.eot'); /* IE9 Compat Modes */
    src: url('./fonts/trebuc.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/trebuc.woff') format('woff'), /* Modern Browsers */
    url('./fonts/trebuc.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./fonts/trebuc.svg#svgFontName') format('svg'); /* Legacy iOS */
    }

		*{
			margin:0;
			padding:0;
			list-style:none;
			border:none;
		}
		body{
			background:#fff;
			font-size: 16px;
			font-family:Trebuc;
			color:#ccc;
		}
		
		div.domtab{
			position: relative;
			padding:0 3em;
			width:80%;
			font-size:90%;
		}
		div.domtab p{
			margin-top: 19em;
		}
		ul.domtabs{
			float:left;
			width:100%;
			margin:2em 0 0 0;				
		}
		ul.domtabs li{
			float:left;
			padding:0 .2em 0 0;
		}
		ul.domtabs a:link,
		ul.domtabs a:visited,
		ul.domtabs a:active,
		ul.domtabs a:hover{
			width:8em;
			padding:.2em 1em;
			display:block;
			background:#584b5a;
			color:#ccc;
			height:3em;
			
			text-decoration:none;
			text-transform: uppercase;
			text-align: center;
			border-bottom: 3px solid #fff;
		}
		html>body ul.domtabs a:link,
		html>body ul.domtabs a:visited,
		html>body ul.domtabs a:active,
		html>body ul.domtabs a:hover{
			height:auto;
			width:7em;
			padding: 1em;
			min-height:9em;
			
		}
		ul.domtabs a:hover{
			background:#584b5a;
		}
		div.domtab div{
			clear:both;
			font-family:Trebuc;
			width:58.2em;
			background:#584b5a;
			color:#fff;
			padding:1em 2.99em;
		}
		ul.domtabs li.active a:link,
		ul.domtabs li.active a:visited,
		ul.domtabs li.active a:active,
		ul.domtabs li.active a:hover{
			background:#584b5a;
			color:#fff;
			border-bottom: 3px solid #584b5a;
		}
	
		.icon::before {
			z-index: 10;
			display: block;
			margin: 0 0.4em 0 0;
			vertical-align: middle;
			margin-bottom: 1em;
		}
		.icon-style::before {
			width: 50px;
	    content: " ";
	    background-image: url(icons/icon-style.png);
	    position: relative;
	    left: 24px;
	    top: 0;
	    height:46px;
			margin-top: 10px;
		}
		.icon-cuts::before {
			width: 50px;
	    content: " ";
	    background-image: url(icons/icon-cuts.png);
	    position: relative;
	    left: 25px;
	    top: 0;
	    height:46px;
			margin-top: 10px;
		}
		.icon-nails::before {
			width: 50px;
	    content: " ";
	    background-image: url(icons/icon-nails.png);
	    position: relative;
	    left: 26px;
	    top: 0;
	    height:46px;
			margin-top: 10px;
		}
		.icon-kun::before {
			width: 50px;
	    content: " ";
	    background-image: url(icons/icon-kun.png);
	    position: relative;
	    left: 25px;
	    top: 0;
	    height:46px;
			margin-top: 10px;
		}
		.icon-serve::before {
			width: 50px;
	    content: " ";
	    background-image: url(icons/icon-serve.png);
	    position: relative;
	    left: 25px;
	    top: 0;
	    height:46px;
			margin-top: 10px;
		}
		.icon-sun::before {
			width: 62px;
	    content: " ";
	    background-image: url(icons/icon-sun.png);
	    position: relative;
	    left: 17px;
	    top: 0;
	    height:61px;
			margin-top: 10px;
		}
		.icon-gift::before {
			width: 58px;
	    content: " ";
	    background-image: url(icons/icon-gift.png);
	    position: relative;
	    left: 21px;
	    top: 0;
	    height:50px;
			margin-top: 10px;
		}
    .leftFloat {float:left;}
    .rightFloat {float:right;}
		table { 
			color: #333;
			width: 400px; 
			border-spacing: 4px;
      border-collapse: separate; 
			}
		td, th { border: none; }
		td {
			color: #fff;
			text-align: right;
			margin-left: 2em;
			line-height: 110%;
		}
		.clearfix {
      overflow: auto;
    }

		.time {
			font-size: 11px;
			height: 4px;
			padding:2px 5px;
			margin-left: 2em;
			border: 1px solid #a089a3;
			text-align: center;
		}
		.price {
			font-size: 11px;
			width: 70px;
			background-color: #7d6b80;
			padding:4px 2px;
			border: 1px solid #7d6b80;
			color: #fff;
			text-align: center;
		}

		.fixTdHeight td {line-height:45px;}

		#domtabprintview{
			float:right;
			padding-right:1em;
			text-align:right;
		}
		#domtabprintview a:link,
		#domtabprintview a:visited,
		#domtabprintview a:active,
		#domtabprintview a:hover{
			color:#fff;
		}
		p{
			margin:0 0 .5em 0;
			line-height:1.3em;
		}
		h2{
			font-size:1.3em;
			color:#fff;
			text-transform:uppercase;
			font-family:"Trebuchet MS",Arial,Sans-Serif;
			padding:0 0 .7em .2em;
		}
		h1{
			font-size:2em;
			text-align:center;
			font-weight:normal;
			text-transform:uppercase;
			font-family:"Trebuchet MS",Arial,Sans-Serif;
			padding:.5em 0;
			background:#000;
			border-bottom:1px solid #666;
		}
		pre{
			font-size:1.2em;
			padding:1em;
		}
		div.domtab div a:link,
		div.domtab div a:visited,
		div.domtab div a:active
		{
			color:#fff;
			display:block;
			padding:1em .5em;
			font-size:1.3em;
		}
		div.domtab div h2 a,
		div.domtab div h2 a:hover,
		div.domtab div h2 a:active
		{
			color:#fff;
			display:inline;
			padding:0;
			font-family:Trebuc;
		}
		
#other{
	font-size:.8em;
	margin-left:.3em;
	width:60em;
	margin-bottom:3em;
	float:left;
}
div#other.domtab div{
	clear:both;
	width:54em;
	background:#669;
	color:#fff;
	padding:1em 3em;
}
		
#other ul.domtabs a:hover{
	background:#669;
}
div#other ul.domtabs li.active a:link,
div#other ul.domtabs li.active a:visited,
div#other ul.domtabs li.active a:active,
div#other ul.domtabs li.active a:hover{
	background:#669;
	color:#fff;
}
#other div{
	float:left;
}
ul.prevnext{
	float:left;
	width:100%;
}
ul.prevnext li{
	float:left;
	width:49%;
}
ul.prevnext li.next{
	float:right;
	text-align:right;
}
